target
node_modules
.DS_Store
dist
dist-ssr
*.local
*.log
WixTools
.dockerignore
.gitpod.Dockerfile
scripts
*/symphony.js
.idea
pnpm-lock.yaml
**/target/**
**/dist/**
**/build/**
**/node_modules/**
**/web/node_modules/**
**/web/dist/**
!.eslintrc
.turbo/
!.husky/
.symphony/.pnpm-store
.symphony/.pnpm-cache
